@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Customers";
}
@section styles{
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="~/lib/angular-ui-grid/ui-grid.css" rel="stylesheet" />
}

<div ng-app="customers" ng-controller="CustomersCtrl">
    <input type="text" ng-model="query" ng-change="validateQuery()" />
    <i ng-class="queryValid ? 'fa fa-check-circle-o' : 'fa fa-times'" title="'queryValidMeesage'"></i>
    <button ng-click="find()">Search</button>
    <br>
    <div ui-grid="gridOptions" class="grid"></div>
</div>

@section scripts{
    <script src="~/lib/angular/angular.js"></script>
    <script src="~/lib/angular-ui-grid/ui-grid.js"></script>
    <script src="~/js/ng/customers/customers.js"></script>
}